.emojiPickerIconWrap {display:inline-block; position:relative;}
.emojiPickerIcon {position:absolute; top:0; right:0; cursor:pointer; }

.white {background:url('/images/icon-emoji-picker-white.svg') center center no-repeat; background-size:60%;}
.black {background:url('/images/icon-emoji-picker-black.svg') center center no-repeat; background-size:60%;}
.yellow {background:url('/images/icon-emoji-picker-yellow.svg') center center no-repeat; background-size:60%;}
.grey {background:url('/images/icon-emoji-picker-grey.svg') center center no-repeat; background-size:60%;}
.gray {background:url('/images/icon-emoji-picker-gray.svg') center center no-repeat; background-size:60%;}
.hidden {display:none;}

#emojiPickerWrap {position:absolute;}
.emojiPicker {display:none; position:relative; outline:none; border:none; box-shadow:0 0 7px #555; border-top-left-radius:4px; border-top-right-radius:4px;}
.emojiPicker div.emoji {width:1.3em; height:1.3em; position:relative; display:inline-block;}
.emojiPicker span.emoji {width:1.3em; height:1.3em; display:inline-block; position:relative; overflow:hidden; text-indent:-9999px; vertical-align:middle;}

.emojiPicker nav {position:relative; z-index:0; background-color:#f2f2f2; border-top-left-radius:4px; border-top-right-radius:4px;}
.emojiPicker nav div.tab {display:inline-block; margin:2% 1% 0 1%; padding:2% 2% 1% 2%; border-top-left-radius:4px; border-top-right-radius:4px; cursor:pointer;}
.emojiPicker nav div.tab.active {background-color:#fff; box-shadow:0 0 3px #ccc;}

.emojiPicker section {overflow:scroll; position:relative; z-index:10; background:#fff;}
.emojiPicker section div {width:40px; float:left; margin:3%;}
.emojiPicker section div:hover {cursor:pointer;}



